<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
  <p><%= "#{pluralize(@recipe.errors.count, "error")} needs to be fixed:" %></p>
  <ul><% @recipe.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
    </ul>
    <% end %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :ingredients %><br>
    <%= f.text_field :ingredients%><br>
    <%= f.label :description %><br>
    <%= f.text_field :description %><br>
    <%= f.label :minutes %><br>
    <%= f.number_field :minutes, in: (0..200) %><br>
    <br>
    <%= f.submit %><br>
  <% end %>