<div class="wrapper">
<h1> Recipe Details </h1>
<h3>Name: "<%= @recipe.name %>"</h2>
<img src="<%= @recipe.image_url%>"alt="<%=@recipe.name%>'s Image"/>
<h3>Ingredients: "<%= @recipe.ingredients %>"</h3>
<h3>Description: "<%= @recipe.description %>"</h3>
<h3>Minutes_to_complete: "<%= @recipe.minutes %>"</h5><br>
<br>
</div>

<div>
<%= button_to "Edit #{@recipe.name}", edit_recipe_path(@recipe), method: :get%>
<%= button_to "Remove #{@recipe.name}", recipe_path(@recipe), method: :delete %>
</div>


<%= form_for [@recipe, @review] do |f| %>
    <%= render partial: "layouts/errors", locals: {record: @review} %><br>
    <%= f.label :rating %><br>
    <%= f.number_field :rating, min: 1, max: 5 %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <%= f.submit %><br>
  <% end %>

<div>
  <%= render @recipe.reviews %>
 
  </div>

