<nav>
<% if logged_in? %>
  <%= link_to "Home Page", home_path %> | &nbsp
  <%= link_to "Logout", logout_path, method: "delete" %> | &nbsp
  <%= link_to "See All Restaurants", restaurants_path %> | &nbsp &nbsp 
 
<% else %>
  <%= link_to "Login", login_path %> &nbsp | &nbsp 
  <%= link_to "Sign Up!", new_user_path %> &nbsp | &nbsp 
  <%= link_to "Sign In or Register with Google", "/auth/google_oauth2" %><br>
<% end %>
</nav>





  

